html, body {
  
  background-color: white;
  font-family: 'Open Sans', sans-serif;  
  margin: 50px
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

